In [1]:
import pandas as pd      
import numpy as np 
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [2]:
# pip list

Package               Version
--------------------- -----------
altair                4.2.0
asttokens             2.0.8
attrs                 22.1.0
backcall              0.2.0
blinker               1.5
cachetools            5.2.0
certifi               2022.9.24
charset-normalizer    2.1.1
click                 8.1.3
colorama              0.4.5
commonmark            0.9.1
debugpy               1.6.3
decorator             5.1.1
entrypoints           0.4
executing             1.1.0
gitdb                 4.0.9
GitPython             3.1.27
idna                  3.4
importlib-metadata    5.0.0
ipykernel             6.16.0
ipython               8.5.0
jedi                  0.18.1
Jinja2                3.1.2
joblib                1.2.0
jsonschema            4.16.0
jupyter_client        7.3.5
jupyter-core          4.11.1
MarkupSafe            2.1.1
matplotlib-inline     0.1.6
nest-asyncio          1.5.6
numpy                 1.23.3
packaging             21.3
pandas                1.5.0
parso                 0.8.3
pickleshare           0.7.5
Pillow                9.2.0
pip                   21.2.4
prompt-toolkit        3.0.31
protobuf              3.20.3
psutil                5.9.2
pure-eval             0.2.2
pyarrow               9.0.0
pydeck                0.8.0b3
Pygments              2.13.0
Pympler               1.0.1
pyparsing             3.0.9
pyrsistent            0.18.1
python-dateutil       2.8.2
pytz                  2022.4
pytz-deprecation-shim 0.1.0.post0
pywin32               304
pyzmq                 24.0.1
requests              2.28.1
rich                  12.6.0
scikit-learn          1.0.2
scipy                 1.9.1
semver                2.13.0
setuptools            58.1.0
six                   1.16.0
smmap                 5.0.0
stack-data            0.5.1
streamlit             1.10.0
threadpoolctl         3.1.0
toml                  0.10.2
toolz                 0.12.0
tornado               6.2
traitlets             5.4.0
typing_extensions     4.3.0
tzdata                2022.4
tzlocal               4.2
urllib3               1.26.12
validators            0.20.0
watchdog              2.1.9
wcwidth               0.2.5
zipp                  3.8.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\Users\Pakize\Desktop\streamlit\inclass_streamlit\minnos\Scripts\python.exe -m pip install --upgrade pip' command.

In [2]:
#pip install streamlit==1.10.0

In [3]:
#pip install scikit-learn==1.0.2

In [3]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print(" r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

In [4]:
df=pd.read_csv("final_scout_not_dummy.csv")
pd.set_option('display.max_columns',  None)
pd.options.display.float_format = '{:,.1f}'.format

In [5]:
df.head(1)

,make_model,body_type,price,vat,km,Type,Fuel,Gears,Comfort_Convenience,Entertainment_Media,Extras,Safety_Security,age,Previous_Owners,hp_kW,Inspection_new,Paint_Type,Upholstery_type,Gearing_Type,Displacement_cc,Weight_kg,Drive_chain,cons_comb
0,Audi A1,Sedans,15770,VAT deductible,"56,013.0",Used,Diesel,7.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...",3.0,2.0,66.0,1,Metallic,Cloth,Automatic,"1,422.0","1,220.0",front,3.8

In [6]:
df.shape

(15915, 23)

In [7]:
df.isnull().sum().any()

False

In [8]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'Type', 'Fuel',
       'Gears', 'Comfort_Convenience', 'Entertainment_Media', 'Extras',
       'Safety_Security', 'age', 'Previous_Owners', 'hp_kW', 'Inspection_new',
       'Paint_Type', 'Upholstery_type', 'Gearing_Type', 'Displacement_cc',
       'Weight_kg', 'Drive_chain', 'cons_comb'],
      dtype='object')

In [9]:
df.describe()

,price,km,Gears,age,Previous_Owners,hp_kW,Inspection_new,Displacement_cc,Weight_kg,cons_comb
count,"15,915.0","15,915.0","15,915.0","15,915.0","15,915.0","15,915.0","15,915.0","15,915.0","15,915.0","15,915.0"
mean,"18,024.4","32,090.0",5.9,1.4,1.0,88.5,0.2,"1,428.7","1,337.7",4.8
std,"7,381.7","36,977.2",0.7,1.1,0.3,26.7,0.4,275.8,199.7,0.9
min,"4,950.0",0.0,5.0,0.0,0.0,40.0,0.0,890.0,840.0,3.0
25%,"12,850.0","1,920.5",5.0,0.0,1.0,66.0,0.0,"1,229.0","1,165.0",4.1
50%,"16,900.0","20,413.0",6.0,1.0,1.0,85.0,0.0,"1,461.0","1,295.0",4.8
75%,"21,900.0","46,900.0",6.0,2.0,1.0,103.0,0.0,"1,598.0","1,472.0",5.4
max,"74,600.0","317,000.0",8.0,3.0,4.0,294.0,1.0,"2,967.0","2,471.0",9.1

In [10]:
df.Gearing_Type.unique()

array(['Automatic', 'Manual', 'Semi-automatic'], dtype=object)

In [11]:
df.make_model.unique()

array(['Audi A1', 'Audi A2', 'Audi A3', 'Opel Astra', 'Opel Corsa',
       'Opel Insignia', 'Renault Clio', 'Renault Duster',
       'Renault Espace'], dtype=object)

In [12]:
df.make_model.value_counts()

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2525
Opel Corsa        2216
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [13]:
df[df.make_model=="Audi A2"]

,make_model,body_type,price,vat,km,Type,Fuel,Gears,Comfort_Convenience,Entertainment_Media,Extras,Safety_Security,age,Previous_Owners,hp_kW,Inspection_new,Paint_Type,Upholstery_type,Gearing_Type,Displacement_cc,Weight_kg,Drive_chain,cons_comb
2614,Audi A2,Off-Road,28200,VAT deductible,"26,166.0",Employee's car,Diesel,6.0,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...",Alloy wheels,"ABS,Adaptive Cruise Control,Central door lock,...",1.0,1.0,85.0,0,Metallic,Cloth,Manual,"1,598.0","1,135.0",front,4.9

In [14]:
df.drop(index=[2614], inplace =True)

In [15]:
df.make_model.unique()

array(['Audi A1', 'Audi A3', 'Opel Astra', 'Opel Corsa', 'Opel Insignia',
       'Renault Clio', 'Renault Duster', 'Renault Espace'], dtype=object)

In [16]:
new_list=["age", "hp_kW", "km", "Gearing_Type", 'make_model']

In [17]:
X=df[new_list]
y=df['price']

In [18]:
X.sample(5)

       age  hp_kW       km Gearing_Type      make_model
1384   2.0   66.0 11,720.0       Manual         Audi A1
7133   1.0  100.0 28,953.0    Automatic      Opel Astra
1441   1.0   60.0 17,000.0       Manual         Audi A1
4867   1.0   85.0 12,000.0       Manual         Audi A3
15538  1.0  118.0 28,000.0    Automatic  Renault Espace

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [20]:
from sklearn.compose import make_column_transformer

In [21]:
from sklearn.preprocessing import OrdinalEncoder

In [22]:
cat = X_train.select_dtypes("object").columns
cat

Index(['Gearing_Type', 'make_model'], dtype='object')

In [23]:
ord_enc = OrdinalEncoder()
column_trans = make_column_transformer((ord_enc, cat), remainder='passthrough') # remainder: # Keep other columns rather than cat in original form.
                                                                                # remainder: # if you want to scale rest of cat columns use "minmax" istead passthroug
    
    # Apply ord_enc to categoric variables and remain in original form rest of them.
    # ord_enc for DT based algorithms
    # For Linear reg, log reg vs. use one hot encoder

In [24]:
X_train=column_trans.fit_transform(X_train)

In [25]:
X_test=column_trans.transform(X_test)

In [26]:
X_train

array([[1.00e+00, 5.00e+00, 0.00e+00, 5.60e+01, 1.00e+01],
       [1.00e+00, 2.00e+00, 3.00e+00, 8.10e+01, 1.39e+05],
       [0.00e+00, 1.00e+00, 0.00e+00, 8.50e+01, 1.80e+04],
       ...,
       [0.00e+00, 3.00e+00, 0.00e+00, 6.60e+01, 3.55e+02],
       [0.00e+00, 4.00e+00, 3.00e+00, 1.25e+02, 2.32e+05],
       [0.00e+00, 1.00e+00, 3.00e+00, 8.10e+01, 9.70e+04]])

In [27]:
pd.Series(X_train[1]) # transform yaptiklarini basa atmis

0         1.0
1         2.0
2         3.0
3        81.0
4   139,000.0
dtype: float64

In [28]:
from sklearn.ensemble import RandomForestRegressor
rf_model=RandomForestRegressor()
rf_model.fit(X_train, y_train)

RandomForestRegressor()

In [29]:
y_pred = rf_model.predict(X_test)

In [30]:
eval_metrics(y_test,y_pred)
# r2 Bağımlı değişkenin bağımsız değişkenlerce açıklanabilme oranını gösteriyordu

 r2_score: 0.9284604202141695
 mae: 1139.4503634082325
 mse: 3581872.032460539
 rmse: 1892.5834281374598

In [31]:
import pickle
pickle.dump(rf_model, open('rf_model_new', 'wb'))

In [32]:
pickle.dump(column_trans, open('transformer', 'wb'))

**deployment**

In [33]:
richard_model = pickle.load(open('rf_model_new', 'rb'))

In [34]:
richard_transformer = pickle.load(open('transformer', 'rb'))

In [35]:
columns=list(X.columns)
columns

['age', 'hp_kW', 'km', 'Gearing_Type', 'make_model']

In [36]:
my_dict = {
    "age": 2,
    "hp_kW": 105,
    "km": 100000,
    "Gearing_Type":"Automatic",
    "make_model": 'Audi A3'
}

In [415]:
#df = pd.DataFrame([my_dict])
#df = pd.DataFrame(my_dict, index=["a"])

In [37]:
df = pd.DataFrame.from_dict([my_dict])

In [38]:
df.head()

   age  hp_kW      km Gearing_Type make_model
0    2    105  100000    Automatic    Audi A3

In [39]:
df2 = richard_transformer.transform(df)

In [40]:
pd.Series(df2[0])

0         0.0
1         1.0
2         2.0
3       105.0
4   100,000.0
dtype: float64

In [41]:
prediction = richard_model.predict(df2)
print(prediction)

[19170.75]

In [42]:
print("The estimated price of your car is €{} ".format(int(prediction[0])))

The estimated price of your car is €19170